/* Custom CSS for smaller font sizes */

/* Adjust font size for the biography section (bio field) */
.section-about .lead {
  font-size: 0.1em;
}

/* Adjust font size for the role field */
.section-about .lead strong {
  font-size: 0.1em;
}

/* Adjust font size for the organizations field */
.section-about .lead ul li {
  font-size: 0.1em;
}